<h5>Tous les candidats</h5>
<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="20%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="taper ici pour filtrer">
  </mat-form-field>
</div>
<table mat-table [dataSource]="datasource" matSort>
<ng-container matColumnDef="numcan">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Numéro candidat</th>
    <td mat-cell *matCellDef="let element"> <a routerLink="/details/{{element.id}}">{{element.numcan}}</a>
      </td>
</ng-container>
<ng-container matColumnDef="prenom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th>
    <td mat-cell *matCellDef="let element">{{element.prenom}}</td>
  </ng-container>

  <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let element">{{element.nom}}</td>
    </ng-container>
    <ng-container matColumnDef="dtNaissance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de naissance</th>
        <td mat-cell *matCellDef="let element">{{element.dtNaissance | date:"dd/MM/yyyy"}}</td>
      </ng-container>
      <ng-container matColumnDef="dtInscription">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date d'inscription </th>
          <td mat-cell *matCellDef="let element">{{element.dtInscription | date:"dd/MM/yyyy"}}</td>
        </ng-container>
        <ng-container matColumnDef="estQualified">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Qualification</th>
            <td mat-cell *matCellDef="let element">{{element.estQualified}}</td>
          </ng-container>
          <ng-container matColumnDef="supprimer">
              <th mat-header-cell *matHeaderCellDef>Supprimer</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="delete(element.id)">
                  <mat-icon class="mat-18"> delete</mat-icon>
                </button>
              </td>
            </ng-container>
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,20]"></mat-paginator>

 
