    <div class ="panel-body" >
        <div *ngIf="candidat && !editButton">
           <h5>Details de candidat: {{candidat.prenom}} {{candidat.nom}}</h5>      
             <div class="form-group">
               <label class= "col-sm-2" for="name"> Nom: </label>
               <label type="text" class="form-control" id ="dtNaissance">{{candidat.nom}}</label>
              </div>
             <div class="form-group">
                 <label  class= "col-sm-2" for="prename"> Prénom: </label>
                 <label type="text" class="form-control" id ="dtNaissance">{{candidat.prenom}}</label>
                </div>
                <div class="form-group">
                    <label  class= "col-sm-2" for="numcan"> Numéro de candidat: </label>
                    <label type="text" class="form-control" id ="numcan">{{candidat.numcan}}</label>
                   </div>
               <div class="form-group">
                   <label  class= "col-sm-2" for="dtNaissance"> Date de naissance: </label>
                   <label type="text" class="form-control" id ="dtNaissance">{{candidat.dtNaissance | date: 'dd/MM/yyyy'}}</label>
                 </div>
                 <div class="form-group">
                    <label  class= "col-sm-2" for="dtInscription"> Date d'inscription: </label>
                    <label type="text" class="form-control" id ="dtInscription">{{candidat.dtInscription | date: 'dd/MM/yyyy'}}</label>
                  </div>
                  <div class="form-group">
                      <label  class= "col-sm-2" for="estQualified"> Qualification </label>
                      <label type="text" class="form-control" id ="estQualified">{{candidat.estQualified}}</label>
                    </div>
    <button class="btn btn-secondary" (click)="goBack()"><<< back</button>
    <button class="btn btn-success" (click)="edit()">edit</button>
        </div>
       </div>
       
       