
.form-control {
  width:40%;
  background-color: lightseagreen;

}
.col-sm-2{
  width:40%;
  overflow-x:auto;
  overflow-y:hidden;
  min-width:500px;
}

.btn-success{
  background-color: #3AAFA9;
  min-width:30px;
  width:10%;

}